h1 {
    color: red;
}
#heading-2{
    color: blue;
}
.heading{
   color: pink;
}
.para{
    border-color: black;
    border: 2px;
    border-style: solid;
    padding: 10px;
    text-align: center;
}
.navbar{
    border: 3px;
    border-style: solid;
    border-color: maroon;
    padding: 15px;
    background-color: cadetblue;
    text-align: center;
}
.navbar a {
color: aliceblue;
padding: 15px;
text-decoration: none;
}
.navbar a:hover {
    background-color: rgb(224, 207, 188);
}
body{
    margin: 0px;
}